.app-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  min-height: calc(100vh - 552px);
  white-space: pre-line;

  .ant-input-affix-wrapper {
    height: 36px !important;

    outline: none !important;
    box-shadow: none !important;
    border-color: #eeeeee !important;

    &:focus-within {
      border-color: #ff4545 !important;
    }
  }

  .ant-select-selector {
    height: 36px !important;

    outline: none !important;
    box-shadow: none !important;
    border-color: #eeeeee !important;

    &:focus-within {
      border-color: #ff4545 !important;
    }
  }
  .ant-picker {
    height: 48px !important;

    outline: none !important;
    box-shadow: none !important;
    border-color: #ff4545;

    &:focus-within {
      border-color: #ff4545;
    }
  }
  .ant-spin-dot-item {
    background-color: brown !important;
  }
}

@mixin ellipsis {
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 1 through 1200 {
  .w#{$i}px {
    width: #{$i}px !important;
    max-width: #{$i}px;

    @include ellipsis;
  }
}

@for $i from 1 through 1000 {
  .h#{$i}px {
    height: #{$i}px !important;
    max-height: #{$i}px;
  }
}

@for $i from -100 through 400 {
  .mt#{$i}px {
    margin-top: #{$i}px !important;
  }
}

@for $i from -100 through 400 {
  .mb#{$i}px {
    margin-bottom: #{$i}px !important;
  }
}
@for $i from 0 through 400 {
  .ml#{$i}px {
    margin-left: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .mr#{$i}px {
    margin-right: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .pl#{$i}px {
    padding-left: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .pr#{$i}px {
    padding-right: #{$i}px !important;
  }
}
@for $i from 0 through 400 {
  .pt#{$i}px {
    padding-top: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .pb#{$i}px {
    padding-bottom: #{$i}px !important;
  }
}
@for $i from 1 through 50 {
  .gap#{$i}px {
    gap: #{$i}px;
  }
}
.df {
  display: flex;
}
.dn {
  display: none;
}
.items__center {
  align-items: center;
}
.content__center {
  justify-content: center;
}
.content__end {
  justify-content: flex-end;
}
.content__between {
  justify-content: space-between;
}
.text__underline {
  text-decoration: underline;
}
.margin__auto {
  margin: 0 auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.cursor__pointer {
  cursor: pointer !important;
}
.cursor__not {
  cursor: not-allowed !important;
}
.opacity0 {
  opacity: 0;
}
.color__ff4545 {
  color: #ff4545;
}
.color__green {
  color: green;
}
